<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/images.jpg" alt="jpg" class="img-thumbnail
            rounded-circle" width="200">
            <h1 clas="display-4">Muhammad Farhan</h1>
            <p class="lead">Belajar Node JS | Javascript</p>
        </div>
    </div>
</div>

